#more {
    display: none;
}

body {
    overflow-x: hidden;
}

/* NAVIGATION */

.logo { 
    width: 100px;
    height: 100px
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* HOME SECTION */

.homeSection {
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.frontImage {
    width: 37.5vw;
    height: auto;
}

.leftContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 6%;
}

.title {
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    color: green;
}

.seemoreButton {
    width: 150px;
}

.description {
    color: rgb(80, 79, 79);
}

.cursive {
    font-family: cursive;
}

.red {
    color: rgb(179, 4, 4);
}

.yellow {
    color: rgb(188, 173, 5);
}

.green {
    color: rgba(3, 179, 3, 0.957);
}

.purple {
    color: purple;
}

.orange {
    color: rgb(187, 107, 3);
}

/* FOOTER */

.footer {
    color: rgb(80, 79, 79);
    padding: 10px;
    text-align: center;
    background-color: rgba(220, 220, 220, 0.259);
}

/* TABLE */

.recipesTitle {
    padding: 60px;
    text-align: center;
}

.card-title {
    font-size: larger;
    padding: 10px;
}

.fruitTable {
    width: 95vw;
    margin-left: 2.5vw;
}

.checkboxFilter label {
    margin: 10px 15px 0px 2px;
}

.filterSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
